body {
  background-image: linear-gradient(to bottom, rgba(11, 128, 27, 0.85), rgba(11, 128, 27, 0.85)), url('./images/poker-table.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}